.taskForm
{
    border-radius: 2em;
    background:unset;
    height: 72vh;
    width: 10vw;
    top: 9vh;
}
.taskForm input
{
    border-radius: 2em;
   
}
.taskForm textarea
{
    border-radius: 2em;
   
}
.custom-file label
{
    border-radius: 2em;

}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: currentcolor;
    content: "Browse";
    background-color: cadetblue;
    border-left: inherit;
    border-radius: 2em;
}

.priority select
{
    border-radius: 2em;

}
.priority .choose
{
    border-radius: 2em;

}
.form-group label
{
    color: aqua;
}
