.taskForm
{
    background: #2e3035;
    border-radius: 2em;
    /* background:unset; */
    height: 74vh;
    width: 10vw;
    top: 20vh;
}
.taskForm input
{
    border-radius: 1em;
   
}
.taskForm textarea
{
    border-radius: 1em;
   
}
.custom-file label
{
    border-radius: 1em;

}
.custom-file-label::after {
    color: white;
    border-radius: 1em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    /* color: currentcolor; */
    content: "Browse";
    background-color: cadetblue;
    border-left: inherit;
}

.priority select
{
    border-radius: 1em;

}
.priority .choose
{
    border-radius: 1em;

}
.form-group label
{
    color: aqua;
}
 .button {
    padding-left: 12.5vw;
    padding-right: 12.5vw;
}