*:not(.fa) {
  font-family: 'Montserrat', sans-serif !important;
}


.profile-card-4 {
  height: fit-content;
  max-width: 300px;
  /* background-color: #FFF; */
  border-radius: 50%;
  /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  position: relative;
  /* margin: 10px auto; */
  cursor: pointer;
}

.profile-card-4 img {
  transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
  position: relative;
  padding: 15px;
  background-color: #FFF;
}

.profile-card-4 .profile-name {
  font-weight: bold;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -70px;
  color: #FFF;
  font-size: 17px;
}

.profile-card-4 .profile-name p {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1.5px;
}


.userImage{
  border-radius: 50%;
  overflow: hidden;
  width: 13rem;
  height: 13rem;
  background-image: url('https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png');
  background-size: cover;
}


.taskForm
{
  background: #2e3035;
  border-radius: 2em;
  height: 89%;
  width: 29vw;
  margin-top: 6vh;
  display: -webkit-inline-box;
}
.taskForm input,.taskForm textarea {
  border-radius: 1em;
  font-size: 0.8em;
}
.taskForm label
{
  margin: 0 !important;
  font-size: 0.8em !important;
}

.js-edit .btn
{

      border: none; 
      font-size: 16px;
      cursor: pointer;      
}

.set-btn
{
  text-align: right !important;
}
.taskForm 
{
background: #2e3035;
border-radius: 2em;
height: auto;
width: 29vw;
margin-top: 2vh;
display: -webkit-inline-box;
}
.taskForm form
{
  width: 100%;
  align-items: center;
}
.form-group label
{
  color: cadetblue;


}
.form-group textarea
{
border-radius: 1em;
resize: none

}
form.is-readonly .btn-save {
  display: none;
}
form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
  cursor: text;
  background-color: #fff;
  border-color: transparent;
  outline-color: transparent;
  box-shadow: none;
}
form.is-editing .btn-edit {
  display: none;
}
/* drag box css */
#drag{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #D7D7EF;
  overflow: hidden;
}



section {
  flex-grow: 1;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 17px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  border-radius: 1em;
  transition: 0.2s;
}
.file-drop-area.is-active {
  background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  padding: 4px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.file-input:focus {
  outline: none;
}

.button {
  padding-left: 11.5vw;
  padding-right: 11.5vw;
}




@-webkit-keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@keyframes spin {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@-webkit-keyframes vaporize {
0% {
  opacity: 1;
  transform: translateY(50px);
}
100% {
  opacity: 0;
  transform: translateY(0px);
}
}
@keyframes vaporize {
0% {
  opacity: 1;
  transform: translateY(50px);
}
100% {
  opacity: 0;
  transform: translateY(0px);
}
}


.containerSVG {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.alchemist-ph .clipped {
-webkit-clip-path: url(#clipper);
        clip-path: url(#clipper);
}
.alchemist-ph #sun {
-webkit-animation: vaporize 1100ms infinite linear;
        animation: vaporize 1100ms infinite linear;
}
.alchemist-ph #star1 {
-webkit-animation: vaporize 900ms infinite linear;
        animation: vaporize 900ms infinite linear;
}
.alchemist-ph #star2 {
-webkit-animation: vaporize 850ms infinite linear;
        animation: vaporize 850ms infinite linear;
}
.alchemist-ph #star3 {
-webkit-animation: vaporize 750ms infinite linear;
        animation: vaporize 750ms infinite linear;
}
.alchemist-ph .clipped > .chem1 {
fill: #6e41b5;
}
.alchemist-ph .clipped > .chem2 {
fill: #a486e2;
}
.alchemist-ph .clipped > .chem1 {
-webkit-animation: spin 3500ms infinite linear;
        animation: spin 3500ms infinite linear;
transform-origin: 30% 82%;
}
.alchemist-ph .clipped > .chem2 {
-webkit-animation: spin 5000ms infinite linear;
        animation: spin 5000ms infinite linear;
transform-origin: 25% 82%;
}
.userInfo .card 
{height: 13vh;border-radius: 2em;}
.userInfo .card .border
{
border: 0.2em solid cyan !important;
}
.thirdRow .card ,.fourthRow .card
{background: currentColor;border-radius: 2em;}
.thirdRow.card .border ,.fourthRow.card .border 
{
border: 0.2em solid cyan !important;
}
#myChart,#currentMonth, #previousMonth , #noticeTypes, #noticePriority
{
  height: 95% !important;
  width: 95% !important;
}

