*:not(.fa) {
  font-family: 'Montserrat', sans-serif !important;
}
.usersListDiv{
  overflow-y: scroll;
}


#force-overflow {
  border-radius: 1em;
  min-height: 63vh;
}
#force-overflow::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  */
  border-radius: 10px;
  background-color: transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#force-overflow::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
#force-overflow::-webkit-scrollbar {
  height: 12px !important;
}

#force-overflow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
.feed-bar scrollbar .panel {
  border-radius: 1.5em;
}

.panel-title {
  cursor: pointer;
}
.header-side {
  text-align: right;
}
.header-side .fa {
  margin-right: 1em;
}
.collapse-header p {
  font-style: italic;
}
.collapse-header .fa {
  color: rgb(86, 241, 125);
}
.collapse-header .status {
  text-align: center;
}
.collapse-header .view-button {
  text-align: right;
}

.card img{
border-radius: 50% !important;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
-ms-border-radius: 50% !important;
-o-border-radius: 50% !important;
}

.dfeed-bar .card
{
  border-radius: 20px;
}





/* --------------------------
  Keyframes
--------------------------- */
@keyframes slide {
    0% {
        opacity: 0;
    }
	50% {
		transform: translate3d(0,-20px,0);
	}
	80% {
		transform: translate3d(0,20px,0);
	}
	100% {
		transform: translate3d(0,0,0);
        opacity: 1;
	}
} 
    
    @keyframes slide-left {
	50% {
		transform: translate3d(20px,0,0);
	}
	80% {
		transform: translate3d(-20px,0,0);
	}
	100% {
		transform: translate3d(0,0,0);
	}
} 
    
    @keyframes grow {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
    opacity: 1;
	}
}

    @keyframes zoom {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
  }
  
}

    @keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 70px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
#userImage{ border-radius: 50% !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; -o-border-radius: 50% !important;
}

/* --------------------------
  SVG Styles
--------------------------- */

svg {
	display: block;
	width: 40%;
    overflow: hidden;
}
.chat-icon{
  position: absolute;
  right: 11vw;
  top: 5vh;
  height: 17vh;
}
    .chat-bg {
        animation: zoom .5s ease-out backwards;
        -webkit-animation: zoom .5s ease-out backwards;
}
    
    .chat * {
      transform-origin: 50% 50%;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
}
    .computer {
        transform: translate3d(-612px, 0, 0);
        animation: slide-left .5s .5s ease-out forwards;
        -webkit-transform: translate3d(-612px, 0, 0);
        -moz-transform: translate3d(-612px, 0, 0);
        -ms-transform: translate3d(-612px, 0, 0);
        -o-transform: translate3d(-612px, 0, 0);
}
   .baloon {
        transform: translate3d(0, 612px, 0);
        opacity: 0;
	   animation: slide .5s 1s forwards;
    }
    
   .baloon circle {
        animation: grow .5s forwards;
     animation-iteration-count: 5;
    }

.chat .baloon circle {
        animation-iteration-count: infinite;
    }
    
	
	.baloon circle:nth-of-type(1) {
		animation-delay: .5s, 1.8s;
	}
	 
	.baloon circle:nth-of-type(2) {
		animation-delay: .8s, 2.2s;
	}
    
   .baloon circle:nth-of-type(3) {
		animation-delay: 1s, 2.6s;
	}

.chat{
        animation-name: Floatingx;

        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }











/* chat css */

@media screen and (max-width: 360px) {
#frame {
    width: 100%;
    height: 100vh;
}
}
.content {width: -webkit-fill-available;float: right;width: 60%;height: 92%;overflow: hidden;position: relative;}

@media screen and (max-width: 735px) {
#frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
}
}

@media screen and (min-width: 900px) {
#frame .content {
    width: calc(100% - 340px);
}
}

.content .contact-profile {border-radius: 5em;/* background: #f5f5f5; */width: 100%;height: 60px;line-height: 60px;background: #f5f5f5;}

.content .contact-profile img { width: 40px; border-radius: 50%; float: left; margin: 9px 12px 0 9px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%;
}

.content .contact-profile p {
float: left;
}

.content .contact-profile .social-media {
float: right;
}

.content .contact-profile .social-media i {
margin-left: 14px;
cursor: pointer;
}

.content .contact-profile .social-media i:nth-last-child(1) {
margin-right: 20px;
}

.content .contact-profile .social-media i:hover {
color: #435f7a;
}

.content .messages {
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  width: 100%;
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

@media screen and (max-width: 735px) {
#frame .content .messages {
    max-height: calc(100% - 105px);
}
}

.content .messages::-webkit-scrollbar {
width: 8px;
background: transparent;
}

.content .messages::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.3);
}

.content .messages ul li {
display: inline-block;
clear: both;
float: left;
margin: 15px 15px 5px -29px;
width: calc(100% - 25px);
font-size: 0.9em;
}

.content .messages ul li:nth-last-child(1) {
margin-bottom: 20px;
}

.content .messages ul li.sent img {
margin: 6px 8px 0 0;
}

.content .messages ul li.sent p {
background: #435f7a;
color: #f5f5f5;
display: table;
}

.content .messages ul li.replies img {
float: right;
margin: 6px 0 0 8px;
}

  .content .messages ul li.replies p {
    background: #6C757D;
    float: right;
    color: white;
    display: table;
}

.content .messages ul li img {
width: 22px;
border-radius: 50%;
float: left;
}

.content .messages ul li p {
display: inline-block;
padding: 10px 15px;
border-radius: 20px;
max-width: 205px;
line-height: 130%;
}

@media screen and (min-width: 735px) {
#frame .content .messages ul li p {
    max-width: 300px;
}
}

.content .message-input {/* border-radius: 5em; */position: absolute;bottom: 0;width: 100%;z-index: 94;/* top: 3px; */}

.content .message-input .wrap {/* border-radius: 5em; */position: relative;}

.content .message-input input {    border-radius: 5em;
  float: left;
  border: none;
  padding-right: 7em;
  width: 96.3%;
  padding: 11px 32px 10px 30px;
  font-size: 0.8em;
  color: #32465a;
  background: darkslategray;
  margin-bottom: 3px;
  padding-right: 7em;
  border: 1px solid #2f3d63;
}

.content .message-input input:focus {
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
}

.welcome-message{
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

@media screen and (max-width: 735px) {
#frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
}
}

.content .message-input .wrap input:focus {
outline: none;
}

.content .message-input .wrap .attachment {position: absolute;right: 74px;z-index: 4;margin-top: 10px;font-size: 1.1em;color: cornsilk;opacity: .5;cursor: pointer;}

@media screen and (max-width: 735px) {
#frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
}
}

.content .message-input .wrap .attachment:hover {
opacity: 1;
}

.content .message-input .wrap button {float: right;border: none;width: 50px;padding: 12px 0;cursor: pointer;background: darkslategrey;color: #f5f5f5;/* border-radius: 2em; */}

@media screen and (max-width: 735px) {
#frame .content .message-input .wrap button {
    padding: 16px 0;
}
}

.content .message-input .wrap button:hover {
background: #435f7a;
}

.content .message-input .wrap button:focus {
outline: none;
}

.messageTime{
  display: flow-root;
}

