*:not(.fa) {
  font-family: 'Montserrat', sans-serif !important;
}
body {
  background: #1e2025;
}
.dashboard-container {
  background: #393c45;
  border-top-right-radius: 6em;
  /* border-bottom-right-radius: 6em; */
}

.dashboard-container {
  background: #393c45;
}

.leftbar {
  max-height: 100%;
  height: 95%;
  width: 10%;
  border-radius: 2.52em;
  background: #2e3035;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 3.6vh;
  -webkit-box-shadow: 0px 0px 56px -11px rgba(0,0,0,0.83);
  -moz-box-shadow: 2px -3px 37px -3px rgba(0,0,0,0.83);
}

.leftbar-icons {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftbar-icons a:not(:first-child){
  margin-top: 4.5vh;
}

.leftbar-icons i {
  font-size: 1.2em;
    /* fallback for old browsers */
  background: -webkit-linear-gradient( #ffffff, #ffffff, #bdc2ff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  text-shadow: 1px 6px 5px rgba(0, 0, 0, 0.33);
}

#signout {
  text-align: center;
  font-size: 1.4em;
}

/* searchbar css */

/* form elements */
select,
textarea,
input {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 1em;
  color: inherit;
}

input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

/* img */
/* ==============================
$-Modules
============================== */
/* clearfix */
.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* inline block */
.ib {
  display: inline-block;
  vertical-align: top;
}

.ib-m {
  display: inline-block;
  vertical-align: middle;
}

/* ==============================
$-Styles
============================== */

.profile {
  text-align: right;
}
.profile img {
  width: 3vw;
  height: 6vh;
}

.search {
  display: contents;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 18.9375em;
}

.search input[type='submit'] {
  vertical-align: middle;
  width: 1.375em;
  height: 1.375em;
  border: none;
  outline: none;
  color: cadetblue;
  font-size: 1.3em;
  background: none;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.search input[type='submit']:hover {
  opacity: 0.5;
}

.search input[type='text'] {
  width: 43.5625vw;
  height: 2.5em;
  color: white;
  padding: 0 0.375em;
  border: none;
  margin-left: 0.1875em;
  background: inherit;
  -webkit-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.search input[type='text']:focus {
  border-bottom-color: inherit;
  outline: none;
}

.search-slide {
  width: 46vw;
  height: 2.5em;
  overflow: hidden;
}

/* hello bar */
.hello-bar {
  background: #2d3346;
  min-height: 20%;
  color: white;
  padding-left: 4em;
  padding-right: 4em;
 

   /* fallback for old browsers */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 2em;
}
 .borderDark
 {
  border: 5px solid #70B8DE !important;
 }
 .borderLight 
 {
  border: 5px solid rgb(29 59 88) !important;
 }



.feed-bar {
  border: 0.4em solid;
  overflow-x: hidden;
  margin-top: 1em;
  height: 62vh;
  padding: 1em;
  border-radius: 2em;
}

.panelColor
{
  background-color:#f1f8ffbf!important ;
  
}
.scrollbar {
  height: 300px;
  background: #576075;
  overflow-y: scroll;
}
.scrollbar {
  min-height: 65%;
}
.scrollbar::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  */
    border-radius: 50%;
   background-color: transparent;
  -webkit-border-radius: 10p;
  -moz-border-radius: 10p;
  -ms-border-radius: 10p;
  -o-border-radius: 10p;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  max-width: 5px !important;
}

.thumbDark::-webkit-scrollbar-thumb 
{
  height: 2px !important;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.342);
  background-color: #4a505f;
}
.thumbLight::-webkit-scrollbar-thumb 
{
  height: 2px !important;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.342);
  background-color: #b6caff;
}
   
  







.feed-bar scrollbar .panel {
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
}

.panel-title {
  cursor: pointer;
}
.header-side {
  text-align: right;
}
.header-side .fa {
  font-size: 0.8em;
  margin-right: 0.7em;
}
.collapse-header p {
  font-style: italic;
}
.collapse-header .fa {
  color: rgb(86, 241, 125);
}
.collapse-header .status {
  text-align: center;
}
.collapse-header .view-button {
  text-align: right;
}


  .panel-group .panel{
    border-radius: 1em!important;
  }

/* Weather css */
  .weather .container{
    display: block;
    border-radius: 10px;
}


.weather-container{
    /* width: 300px; */
    height: auto;
    border-radius: 1em;
}


.weather-icon img{
    display: block;
    margin: 0 auto;
    height: 100%;
}


.temperature-value p{
    padding: 0;
    margin: 0;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    font-size: 0.5em;
}

.location p{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0.8em;
}

.header-side .border{
  border-radius: 2em;
  background: #2b3035;
}

.coffeeSVG{
    width: 52%;
    float: right;
    transform: scale(1.2) translate(14%, -15%);
    animation: 2s infinite alternate floating;
    -webkit-transform: scale(1.2) translate(14%, -15%);
    -moz-transform: scale(1.2) translate(14%, -15%);
    -ms-transform: scale(1.2) translate(14%, -15%);
    -o-transform: scale(1.2) translate(14%, -15%);
}


@keyframes floating {
	0% {
		transform:scale(1.2)  translatey(-15%);
		-webkit-transform:scale(1.2)  translatey(-15%);
		-moz-transform:scale(1.2)  translatey(-15%);
		-ms-transform:scale(1.2)  translatey(-15%);
		-o-transform:scale(1.2)  translatey(-15%);
}
	50% {
		transform: scale(1.2) translatey(-20%);
		-webkit-transform: scale(1.2) translatey(-20%);
		-moz-transform: scale(1.2) translatey(-20%);
		-ms-transform: scale(1.2) translatey(-20%);
		-o-transform: scale(1.2) translatey(-20%);
}
	100% {
		transform:scale(1.2)  translatey(-15%);
		-webkit-transform:scale(1.2)  translatey(-15%);
		-moz-transform:scale(1.2)  translatey(-15%);
		-ms-transform:scale(1.2)  translatey(-15%);
		-o-transform:scale(1.2)  translatey(-15%);
}
}

.card{
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.feeditem{
  border-radius: 1em !important;
  -webkit-border-radius: 1em !important;
  -moz-border-radius: 1em !important;
  -ms-border-radius: 1em !important;
  -o-border-radius: 1em !important;
}