* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background: #1e2025;
}
.dashboard-container {
  background: #393c45;
  border-top-right-radius: 6em;
  /* border-bottom-right-radius: 6em; */
}

.dashboard-container {
  background: #393c45;
}

.leftbar {
  height: 93%;
  width: 10%;
  border-radius: 2.52em;
  background: #2e3035;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 3.6vh;
}

.leftbar-icons {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftbar-icons i {
  color: white;
  font-size: 1.2em;
  margin-top: 4.5vh;
}

#signout {
  text-align: center;
  font-size: 1.4em;
}

/* searchbar css */

/* form elements */
select,
textarea,
input {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 1em;
  color: inherit;
}

input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

/* img */
/* ==============================
$-Modules
============================== */
/* clearfix */
.cf:after {
  content: '';
  display: table;
  clear: both;
}

/* inline block */
.ib {
  display: inline-block;
  vertical-align: top;
}

.ib-m {
  display: inline-block;
  vertical-align: middle;
}

/* ==============================
$-Styles
============================== */
.search {
  display: contents;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 18.9375em;
}

.search input[type='submit'] {
  vertical-align: middle;
  width: 1.375em;
  height: 1.375em;
  border: none;
  outline: none;
  color: cadetblue;
  font-size: 1.3em;
  background: none;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.search input[type='submit']:hover {
  opacity: 0.5;
}

.search input[type='text'] {
  width: 43.5625vw;
  height: 2.5em;
  color: white;
  padding: 0 0.375em;
  border: none;
  margin-left: 0.1875em;
  background: inherit;
  -webkit-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}

.search input[type='text']:focus {
  border-bottom-color: inherit;
  outline: none;
}

.search-slide {
  width: 46vw;
  height: 2.5em;
  overflow: hidden;
}

/* hello bar */
.hello-bar {
  margin-top: 1em;
  color: white;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 2em;
  /* background: #FF0B66; */
  /* background:linear-gradient(120deg, #e32934, #004883); */
  background: #642b73; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    #c6426e,
    #642b73
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
.feed-bar {
  overflow-x: hidden;
  margin-top: 1em;
  height: 62vh;
  padding: 1em;
  border-radius: 2em;
}
.feed-bar.scrollbar {
  height: 300px;
  background: #576075;
  overflow-y: scroll;
}
#force-overflow {
  min-height: 63vh;
}
#force-overflow::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: transparent;
}

#force-overflow::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
#force-overflow::-webkit-scrollbar {
  height: 12px;
}

#force-overflow::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
