*:not(.fa) {
  font-family: 'Montserrat', sans-serif !important;
}


body {
  background: #1e2025;
}
.usersListDiv{
  overflow-y: scroll;
}

.scrollbar {overflow-x: hidden;height: 280px;background: #576075;overflow-y: scroll;}
#force-overflow,#force-overflow1 {border-radius: 2em;min-height: 65%;}
#force-overflow::-webkit-scrollbar-track,#force-overflow1::-webkit-scrollbar-track {
/*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
*/
  border-radius: 50%;
 background-color: transparent;
-webkit-border-radius: 10p;
-moz-border-radius: 10p;
-ms-border-radius: 10p;
-o-border-radius: 10p;
}

#force-overflow::-webkit-scrollbar,#force-overflow1::-webkit-scrollbar {
width: 8px;
background-color: transparent;
}

#force-overflow::-webkit-scrollbar,#force-overflow1::-webkit-scrollbar {
max-width: 5px !important;
}

#force-overflow::-webkit-scrollbar-thumb,#force-overflow1::-webkit-scrollbar-thumb {
height: 2px !important;
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.342);
background-color: #4a505f;
}

.feed-bar scrollbar .panel {
border-radius: 1.5em;
-webkit-border-radius: 1.5em;
-moz-border-radius: 1.5em;
-ms-border-radius: 1.5em;
-o-border-radius: 1.5em;
}

.card img{
border-radius: 50% !important;
-webkit-border-radius: 50% !important;
-moz-border-radius: 50% !important;
-ms-border-radius: 50% !important;
-o-border-radius: 50% !important;
}

.dfeed-bar .card
{
  border-radius: 20px;
}




.dashboard-container1 {
  background: #393c45;
  border-top-right-radius: 6em;
  /* border-bottom-right-radius: 6em; */
}

.dashboard-container1 {
  background: #393c45;
}

.leftbar1 {
  max-height: 100%;
  height: 95%;
  width: 10%;
  border-radius: 2.52em;
  background: #2e3035;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  margin-right: 2vw;
  margin-top: 3.6vh;
  -webkit-box-shadow: 0px 0px 56px -11px rgba(0,0,0,0.83);
  -moz-box-shadow: 2px -3px 37px -3px rgba(0,0,0,0.83);
}

.leftbar1-icons {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftbar1-icons a:not(:first-child){
  margin-top: 4.5vh;
}

.leftbar1-icons i {
  font-size: 1.2em;
    /* fallback for old browsers */
  background: -webkit-linear-gradient( #ffffff, #ffffff, #bdc2ff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  text-shadow: 1px 6px 5px rgba(0, 0, 0, 0.33);
}

#signout {
  text-align: center;
  font-size: 1.4em;
}


/* create account css */
.taskForm1
{
  background: #2e3035;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  width: 29vw;
  display: -webkit-inline-box;
}
.taskForm2
{
  background: #2e3035;
  border-radius: 2em;
  width: 29vw;
}

.taskForm1 label,.taskForm2 label
{
  margin: 0 !important;
  font-size: 0.8em !important;
}
.form-group label
{
  color: cadetblue;


}
.taskForm1 input, .taskForm2 input{
  border-radius: 1em !important;
  font-size: 0.8em !important;
}

.button {
  padding-left: 11.5vw;
  padding-right: 11.5vw;
}
#myselect
{
  will-change: transform !important;
    transform: translate3d(67px, 41px, 0px) !important;
    top: 0px !important;
    left: 0px !important;
    border-radius: 1em;
}
#myselect li
{

font-size: 90%;
}
.unapprove
{
  background: #2e3035;
  border-radius: 2em;
  height: 98%;
  width: 29vw;
}



.icon-big-data #icon-laptop_line_3_circle {
  opacity: 1;
  transform-origin: center center;
}

.svgAnimPanel .icon-big-data #icon-laptop_line_3_circle {
  -webkit-animation: big-data-ball 3s linear infinite;
  animation: big-data-ball 3s linear infinite;
}

@-webkit-keyframes big-data-ball {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
  }
  5% {
    -webkit-transform: translate(14px, 0) scale(1);
  }
  /* line 4 */
  5.01% {
    -webkit-transform: translate(-24px, 44px) scale(0.3);
  }
  7% {
    -webkit-transform: translate(-24px, 44px) scale(0.6);
  }
  13% {
    -webkit-transform: translate(-24px, -8px) scale(0.6);
  }
  20% {
    -webkit-transform: translate(-56px, -8px) scale(1);
  }
  25% {
    -webkit-transform: translate(-72px, -8px) scale(1);
  }
  /* line 5 */
  25.01% {
    -webkit-transform: translate(-19px, 44px) scale(0.3);
  }
  27% {
    -webkit-transform: translate(-19px, 44px) scale(0.6);
  }
  33% {
    -webkit-transform: translate(-19px, 23px) scale(0.6);
  }
  40% {
    -webkit-transform: translate(-10px, 23px) scale(1);
  }
  45% {
    -webkit-transform: translate(14px, 23px) scale(1);
  }
  /* line 1 */
  45.01% {
    -webkit-transform: translate(-40px, 44px) scale(0.3);
  }
  47% {
    -webkit-transform: translate(-40px, 44px) scale(0.6);
  }
  53% {
    -webkit-transform: translate(-40px, 23px) scale(0.6);
  }
  60% {
    -webkit-transform: translate(-49px, 23px) scale(1);
  }
  65% {
    -webkit-transform: translate(-72px, 23px) scale(1);
  }
  /* line 2 */
  65.01% {
    -webkit-transform: translate(-35px, 44px) scale(0.3);
  }
  67% {
    -webkit-transform: translate(-35px, 44px) scale(0.6);
  }
  73% {
    -webkit-transform: translate(-35px, -15px) scale(0.6);
  }
  80% {
    -webkit-transform: translate(-2px, -15px) scale(1);
  }
  85% {
    -webkit-transform: translate(14px, -15px) scale(1);
  }
  /* line 3 */
  85.01% {
    -webkit-transform: translate(-30px, 44px) scale(0.3);
  }
  87% {
    -webkit-transform: translate(-30px, 44px) scale(0.6);
  }
  93% {
    -webkit-transform: translate(-30px, 0) scale(0.6);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1);
  }
}
@keyframes big-data-ball {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  5% {
    transform: translate(14px, 0) scale(1);
    opacity: 0;
  }
  /* line 4 */
  5.01% {
    transform: translate(-24px, 44px) scale(0.3);
    opacity: 0;
  }
  7% {
    transform: translate(-24px, 44px) scale(0.6);
    opacity: 1;
  }
  13% {
    transform: translate(-24px, -8px) scale(0.6);
  }
  20% {
    transform: translate(-56px, -8px) scale(1);
    opacity: 1;
  }
  25% {
    transform: translate(-72px, -8px) scale(1);
    opacity: 0;
  }
  /* line 5 */
  25.01% {
    transform: translate(-19px, 44px) scale(0.3);
    opacity: 0;
  }
  27% {
    transform: translate(-19px, 44px) scale(0.6);
    opacity: 1;
  }
  33% {
    transform: translate(-19px, 23px) scale(0.6);
  }
  40% {
    transform: translate(-10px, 23px) scale(1);
    opacity: 1;
  }
  45% {
    transform: translate(14px, 23px) scale(1);
    opacity: 0;
  }
  /* line 1 */
  45.01% {
    transform: translate(-40px, 44px) scale(0.3);
    opacity: 0;
  }
  47% {
    transform: translate(-40px, 44px) scale(0.6);
    opacity: 1;
  }
  53% {
    transform: translate(-40px, 23px) scale(0.6);
  }
  60% {
    transform: translate(-49px, 23px) scale(1);
    opacity: 1;
  }
  65% {
    transform: translate(-72px, 23px) scale(1);
    opacity: 0;
  }
  /* line 2 */
  65.01% {
    transform: translate(-35px, 44px) scale(0.3);
    opacity: 0;
  }
  67% {
    transform: translate(-35px, 44px) scale(0.6);
    opacity: 1;
  }
  73% {
    transform: translate(-35px, -15px) scale(0.6);
  }
  80% {
    transform: translate(-2px, -15px) scale(1);
    opacity: 1;
  }
  85% {
    transform: translate(14px, -15px) scale(1);
    opacity: 0;
  }
  /* line 3 */
  85.01% {
    transform: translate(-30px, 44px) scale(0.3);
    opacity: 0;
  }
  87% {
    transform: translate(-30px, 44px) scale(0.6);
    opacity: 1;
  }
  93% {
    transform: translate(-30px, 0) scale(0.6);
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

.fa-address-card{
  animation: 2s infinite alternate floating;
}


@keyframes floating {
	0% {
		transform: translatey(-15%);
		-webkit-transform: translatey(-15%);
		-moz-transform: translatey(-15%);
		-ms-transform: translatey(-15%);
		-o-transform: translatey(-15%);
}
	50% {
		transform: translatey(-20%);
}
	100% {
		transform: translatey(-15%);
		-webkit-transform: translatey(-15%);
		-moz-transform: translatey(-15%);
		-ms-transform: translatey(-15%);
		-o-transform: translatey(-15%);
}
}