*:not(.fa) {
    font-family: 'Montserrat', sans-serif !important;
  }

.profile-card-4 {
    height: fit-content;
    max-width: 300px;
    /* background-color: #FFF; */
    border-radius: 50%;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    position: relative;
    /* margin: 10px auto; */
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}





.taskForm
{
  background: #2e3035;
  border-radius: 2em;
  height: 89%;
  width: 29vw;
  margin-top: 6vh;
  display: -webkit-inline-box;
}
.taskForm input
{
  border-radius: 1em;
}

.vl {
    border-radius: 2em;
    /* left: 8em; */
    /* left: auto; */
    /* margin: auto; */
    border-left: 0.4vw solid #2e3035;
    height: 62%;
  }
 






.js-edit .btn
{

        border: none; 
        font-size: 16px;
        cursor: pointer;      
}

.set-btn
{
    text-align: right !important;
}
.taskForm 
{
  background: #2e3035;
  border-radius: 2em;
  height: 89%;
  width: 29vw;
  margin-top: 6vh;
  display: -webkit-inline-box;
}
.taskForm form
{
    width: 100%;
    align-items: center;
}
.form-group label
{
    color: cadetblue;


}
.form-group textarea
{
border-radius: 1em;
resize: none

}
form.is-readonly .btn-save {
    display: none;
  }
  form.is-readonly input[disabled], form.is-readonly textarea[disabled] {
    cursor: text;
    background-color: #fff;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
  }
  form.is-editing .btn-edit {
    display: none;
  }
  /* drag box css */
  #drag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(to right, #4568dc, #b06ab3); */
    color: #D7D7EF;
    /* font-family: "Lato", sans-serif; */
  }
  
  
  
  section {
    flex-grow: 1;
  }
  
  .file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 1em;
    transition: 0.2s;
  }
  .file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .fake-btn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  .file-input:focus {
    outline: none;
  }
  
  .button {
    padding-left: 11.5vw;
    padding-right: 11.5vw;
  }