

.profile-card-4 {
    height: fit-content;
    max-width: 300px;
    /* background-color: #FFF; */
    border-radius: 50%;
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    position: relative;
    /* margin: 10px auto; */
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}





.taskForm
{
  background: #2e3035;
  border-radius: 2em;
  height: 89%;
  width: 29vw;
  margin-top: 6vh;
  display: -webkit-inline-box;
}
.taskForm input
{
  border-radius: 1em;
}

.vl {
    border-radius: 2em;
    /* left: 8em; */
    /* left: auto; */
    /* margin: auto; */
    border-left: 0.4vw solid #2e3035;
    height: 62%;
  }
 




.quotation-mark {
    
margin-top: 4vh;
    
font-weight: bold;
    
font-size:100px;
    
color: deepskyblue;
    
font-family: "Times New Roman", Times, Serif;
}

.quote-text {
    
font-size: 19px;
    
margin-top: -83px;
}

